<!DOCTYPE html>
<html>
    <head>
        <title>Blog Application</title>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css' rel='stylesheet' type='text/css'>
        <link href='/stylesheets/app.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class='ui fixed inverted menu'>
            <div class='ui container'>
                <div class='header item'><a href='/'><i class='send outline icon'></i>myBlog</a></div>
                <a href='/posts' class='item'>Blog</a>
                <a href='/posts/new' class='item'>New Post</a>
            </div>
        </div>
        